RewriteEngine On

# Redirect index.php to /
RewriteCond %{THE_REQUEST} /index\.php [NC]
RewriteRule ^(.*?)index\.php$ /$1 [L,R=301,NC]

# Route /book/slug to book.php
RewriteRule ^book/([a-zA-Z0-9\-_~]+)$ book.php?slug=$1 [L,QSA]

# Route /book/slug/ to book.php
RewriteRule ^book/([a-zA-Z0-9\-_~]+)/$ book.php?slug=$1 [L,QSA]
